<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid" [appSetColor]='bgColor'>
   {{bgColor}}
   <input type="color" [(ngModel)]="bgColor">
  <nav class="nav nav-tabs" mt-1 mb-1>
    <a routerLink="items" routerLinkActive="active" class="nav-link nav-item">items</a>
    <a routerLink="workers" routerLinkActive="active" class="nav-link nav-item">workers</a>
    <a routerLink="register" routerLinkActive="active" class="nav-link nav-item">register</a>
    <app-auth></app-auth>

  </nav>
<router-outlet></router-outlet>
</div>

<app-welcome></app-welcome>
